<div id="<%= dom_id article %>">
 <div class="card my-5 ">
      <div class="card-content">
          <div class="content">
              <p>
                  <strong>  <%= article.title %> </strong>
                  <br>
                  <%= article.body %>
              </p>
          </div>
      </div>
  </div>
</div>