
<div class="box my-4 has-background-warning-light">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
        </p>
      </div>
    </div>
  </article>
</div>


<div class="box my-4 has-background-white">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
        </p>
      </div>
    </div>
  </article>
</div>


<div class="card my-5 ">
  <div class="card-content">
    <div class="content">
      Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
    </div>
  </div>
</div>



<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
                Most serach key word
            </th>
            <th>
                Occurences
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>Zapporeja</td>
            <td>20</td>
        </tr>
         <tr>
            <td>1</td>
            <td>Zapporeja</td>
            <td>20</td>
        </tr>
         <tr>
            <td>1</td>
            <td>Zapporeja</td>
            <td>20</td>
        </tr>
         <tr>
            <td>1</td>
            <td>Zapporeja</td>
            <td>20</td>
        </tr>
         <tr>
            <td>1</td>
            <td>Zapporeja</td>
            <td>20</td>
        </tr>
    </tbody>

</table>




<div class=" m-6 ">
  <div class="content is-large is-flex is-flex-direction-column	is-align-items-center">
    <div class="title is-1 center has-text-info">Hello Bulma!</div>
    <p>
    A Ruby on Rails application for searching articles and indexing and providing statistics of these searches and their results. 
    (Ruby on Rails, Redis, Sidekiq, sidekiq-scheduler)
    </p>
    
  </div>
</div>





