
<div class="m-6">
  <div class="content is-large is-flex is-flex-direction-column	is-align-items-center">
    <div class="title is-1 center has-text-info">Helpjuice Ruby on Rails Test project</div>
    <p class="is-center">
       A realtime search box, where users search articles, and then to have analytics that display what users were searching for. 
  </div>
</div>













