<% content_for :title do %>
  Search Statistics
<% end %>
<div class="m-6">
  <div class="content is-large is-flex is-flex-direction-column	is-align-items-center">
    <div class="title is-1 center has-text-info">Analytics & trends</div>
    <p class="is-center">
       The Analytics that display what users were searching for. 
  </div>
</div>
 <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
                Most serach key word
            </th>
            <th>
                Occurences
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>Zapporeja</td>
            <td>20</td>
        </tr>
         <tr>
            <td>1</td>
            <td>Zapporeja</td>
            <td>20</td>
        </tr>
         <tr>
            <td>1</td>
            <td>Zapporeja</td>
            <td>20</td>
        </tr>
         <tr>
            <td>1</td>
            <td>Zapporeja</td>
            <td>20</td>
        </tr>
         <tr>
            <td>1</td>
            <td>Zapporeja</td>
            <td>20</td>
        </tr>
    </tbody>

</table>