<%# <% @articles.each do |article| >
  <div class="card my-5 ">
      <div class="card-content">
          <div class="content">
              <p>
                  <strong>  <% article.title > </strong>
                  <br>
                  <% article.body >
              </p>
          </div>
      </div>
  </div>
  
<% end %>  

<%# <div id="<%= dom_id article >">
  <p class="text-lg leading-loose">
      <%= article.title >
  </p>
</div> %>